@mixin flex-row($justify-content-property, $align-items-property) {
  display: flex;
  flex-direction: row;
  justify-content: $justify-content-property;
  align-items: $align-items-property;
}
@mixin flex-column($align-items-property, $justify-content-property) {
  display: flex;
  flex-direction: column;
  align-items: $align-items-property;
  justify-content: $justify-content-property;
}
